:root {
    --apple-color: #97e397;
    --snake-color: #ea6a6a;
}  

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1e2125;
    color:#a6c0e1;
}

canvas {
    background: #111;
    display: block;
    margin: 0 auto;
    margin: 20px auto;
}

#control {
    display: none;
    margin: auto;
    text-align: center;
}

#control button {
    width: 3em;
}

.modal-content {
    background-color: rgb(24, 26, 27);
}

.close {
    color: rgb(232, 230, 227)!important;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    canvas {
        width: 100%!important;
    }
    
    #control {
        display: block;
    }
    .pc {
        display: none;
    }
    .mobile {
        display: inline;
    }
}